<div class="book-view-container">
  <h1 class="book-title">{{$ctrl.book.title}}</h1>
  <p class="book-view-author">Author: <span>{{$ctrl.book.author}}</span></p>
  <img ng-src="{{$ctrl.book.coverUrl}}" alt="Book cover">
  <book-rates
    ng-if="$ctrl.book"
    max-rates="5"
    avg-rate="$ctrl.getAvgRate($ctrl.book.rate)"
    display-rate="$ctrl.rate"
    on-change-rate="$ctrl.setRate(rate)"
    user-rate="$ctrl.userRate"
  ></book-rates>
  <p class="book-view-description">{{$ctrl.book.description}}</p>
</div>

<book-comments></book-comments>